<div class= "jumbotron">
  Chat with your people
  <div class= "well" id='chatbox' style= "height:350px; border: solid 1px #222222; overflow-y:scroll">
    <% @messagesWithUsername.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %> 
  </div>
  <% if current_user %>
    <%= form_with model: @m do |f| %>
      <div class= "input-group mb-3">
        <%= f.text_field :body, placeholder: "send message..", id:'message-text', class:'form-control' %>
        <div class= "input-group-append">
          <%= f.submit "Send", id:'send-btn', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% else %>
    You need to be <%= link_to 'Logged In', new_user_session_path %> to be able to chat.
  <% end %>
</div>
<script>
  document.getElementById('send-btn').addEventListener("click", function(){
    setTimeout(function(){
      document.getElementById("message-text").value = "";
     }, 1);
  });
</script>